:root {
  /* catppuccin palette */
  --rosewater: hsl(11, 59%, 67%);
  --flamingo: hsl(0, 60%, 67%);
  --pink: hsl(316, 73%, 69%);
  --mauve: hsl(266, 85%, 58%);
  --red: hsl(347, 87%, 44%);
  --maroon: hsl(355, 76%, 59%);
  --peach: hsl(22, 99%, 52%);
  --yellow: hsl(35, 77%, 49%);
  --green: hsl(109, 58%, 40%);
  --teal: hsl(183, 74%, 35%);
  --sky: hsl(197, 96%, 46%);
  --sapphire: hsl(189, 70%, 42%);
  --blue: hsl(220, 91%, 54%);
  --lavender: hsl(231, 97%, 72%);
  --text: hsl(234, 16%, 36%);
  --subtext1: hsl(233, 13%, 42%);
  --subtext0: hsl(233, 10%, 47%);
  --overlay2: hsl(232, 10%, 53%);
  --overlay1: hsl(231, 10%, 59%);
  --overlay0: hsl(228, 11%, 65%);
  --surface2: hsl(227, 12%, 71%);
  --surface1: hsl(225, 14%, 77%);
  --surface0: hsl(223, 16%, 83%);
  --base: hsl(220, 23%, 95%);
  --mantle: hsl(220, 22%, 92%);
  --crust: hsl(220, 21%, 89%);
  --theme-color: var(--flamingo);
}
.progress {
  background-color: var(--theme-color);
}
input[type='search'] {
  background: var(--mantle);
  border-color: var(--mantle);
  color: var(--subtext2);
}
.search {
  border-color: var(--crust);
}
.search .search-keyword,
.search a:hover {
  color: var(--theme-color);
}
.search .search-keyword {
  color: var(--theme-color);
}
.search .results-panel {
  color: var(--surface2);
}
.search .matching-post {
  border-color: var(--surface0);
}
body {
  color: var(--subtext1);
}
kbd {
  border-color: var(--mantle);
}
.app-nav a {
  color: inherit;
}
.app-nav a.active,
.app-nav a:hover {
  color: var(--theme-color);
}
.app-nav a.active {
  border-color: var(--theme-color);
  color: var(--theme-color);
}
.app-nav li ul {
  background-color: var(--text);
  border: 1px solid var(--subtext0);
  border-bottom-color: var(--subtext0);
}
.github-corner svg {
  color: var(--mantle);
  fill: var(--theme-color);
}
.anchor span {
  color: var(--theme-color);
}
.sidebar {
  border-color: var(--surface1);
}
.sidebar > h1 a {
  color: inherit;
  color: var(--theme-color);
}
.sidebar li > p {
  color: var(--theme-color);
}
.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
}
.sidebar:hover::-webkit-scrollbar-thumb {
  background: var(--subtext1);
}
.sidebar:hover::-webkit-scrollbar-track {
  background: var(--subtext1);
}
.sidebar-toggle {
  background-color: transparent;
  background-color: var(--base);
}
.sidebar-toggle .sidebar-toggle-button:hover {
  opacity: 0.4;
}
.sidebar-toggle span {
  background-color: var(--theme-color);
}
.markdown-section hr {
  border-bottom: 1px solid var(--subtext1);
}
.markdown-section iframe {
  border-color: var(--subtext1);
}
.markdown-section td,
.markdown-section th {
  border-color: var(--subtext2);
}
.markdown-section tr {
  border-color: var(--subtext1);
}
.markdown-section p.tip,
.markdown-section tr:nth-child(2n) {
  background-color: var(--mantle);
}
.markdown-section p.tip {
  border-color: var(--theme-color);
}
.markdown-section p.tip:before {
  background-color: var(--theme-color);
  color: var(--text);
}
.markdown-section p.tip code {
  background-color: var(--mantle);
}
.markdown-section p.tip em {
  color: var(--subtext2);
}
.markdown-section p.warn {
  background: var(--base);
}
body.close .sidebar-toggle {
  background-color: var(--surface2);
}
section.cover {
  background: var(--mauve);
}
section.cover.has-mask .mask {
  background-color: var(--text);
}
section.cover .cover-main > p:last-child a {
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
}
section.cover .cover-main > p:last-child a:last-child {
  background-color: var(--theme-color);
  color: var(--subtext1);
}
section.cover .cover-main > p:last-child a:last-child:hover {
  color: var(--subtext1);
}
section.cover blockquote > p > a {
  border-color: var(--theme-color);
}
section.cover blockquote > p > a:hover {
  color: var(--theme-color);
}
.sidebar,
body {
  background-color: var(--base);
}
.sidebar {
  color: var(--surface2);
}
.sidebar ul li a {
  color: var(--text);
}
.sidebar ul li.active > a {
  color: var(--theme-color);
}
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  color: var(--text);
}
.markdown-section a {
  color: var(--theme-color);
}
.markdown-section blockquote {
  border-color: var(--theme-color);
  color: var(--subtext1);
}
.markdown-section em {
  color: var(--subtext2);
}
.markdown-section code {
  color: var(--text);
}
.markdown-section code,
.markdown-section pre {
  background-color: var(--mantle);
}

.markdown-section pre > code {
  background-color: var(--mantle);
  color: var(--subtext1);
}
pre:after {
  color: var(--subtext1);
}

/* CATPPUCCIN PRISM COLORS */

code[class*="language-"],
pre[class*="language-"] {
	color: var(--text);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--mantle);
}

/* https://prismjs.com/tokens.html */

.token.keyword {
	color: var(--mauve);
}

.token.builtin {
	color: var(--red);
}

.token.class-name {
	color: var(--yellow);
}

.token.function {
	color: var(--blue);
}

.token.boolean,
.token.number {
	color: var(--peach);
}

.token.string,
.token.char {
	color: var(--green);
}

.token.symbol {
	color: var(--yellow);
}

.token.regex {
	color: var(--pink);
}

.token.url {
	color: var(--green);
}

.token.operator {
	color: var(--sky);
}

.token.variable {
	color: var(--text);
}

.token.constant {
	color: var(--peach);
}

.token.property {
	color: var(--blue);
}

.token.punctuation {
	color: var(--overlay2);
}

.token.important {
	color: var(--mauve);
}

.token.comment {
	color: var(--overlay2);
}

.token.tag {
	color: var(--blue);
}

.token.attr-name {
	color: var(--yellow);
}

.token.attr-value {
	color: var(--green);
}

.token.namespace {
	color: var(--yellow);
}

.token.prolog,
.token.doctype {
	color: var(--mauve);
}

.token.cdata {
	color: var(--teal);
}

.token.entity {
	color: var(--red);
}

.token.atrule {
	color: var(--mauve);
}

.token.selector {
	color: var(--blue);
}

/* Diff */

.token.deleted {
	color: var(--red);
}

.token.inserted {
	color: var(--green)
}

/* Other */

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

